{% assign cygames = site.data.work_experience_cygames.cygames %}
{% assign mightygames = site.data.work_experience_mightygames.mightygames %}
{% assign crooz = site.data.work_experience_crooz.crooz %}
{% assign tayutau = site.data.work_experience_esmile_tayutau.tayutau %}
{% assign landho = site.data.work_experience_esmile_landho.landho %}
{% assign lecre = site.data.work_experience_esmile_lecre.lecre %}
{% assign cri = site.data.work_experience_esmile_cri.cri %}

{% assign experiences = '' | split: '' %}

{% assign experiences = experiences | push: cygames %}
{% assign experiences = experiences | push: mightygames %}
{% assign experiences = experiences | push: crooz %}
{% assign experiences = experiences | push: tayutau %}
{% assign experiences = experiences | push: landho %}
{% assign experiences = experiences | push: lecre %}
{% assign experiences = experiences | push: cri %}

{% if experiences %}

<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2>

  {% for experience in experiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }} - {{experience.location}}</div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

    <br/> <!--put a space separator between job experiences-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

